#fit-life{
    background-color: #000;
}
.col-lg-8 h2{
    color: #ff7700;
    font-family: "Black Ops One", system-ui;
}

.col-lg-8 h4{
    color: #fff;
    font-family: "Black Ops One", system-ui;
}