#fit-life{
    background-color: #ffffff;
}
.col-lg-8 h2{
    color: #ff7700;
    font-family: "Black Ops One", system-ui;
}

.col-lg-8 h4{
    color: #000000;
    font-family: "Black Ops One", system-ui;
}