@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fit-life{
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
}

.navbar{
    border-bottom: 2px solid #ff7700;
}

.navbar-nav .nav-item .nav-link{
    color: #ff7700;
    font-weight: 400;
    font-family: "Black Ops One", system-ui;
}

.navbar-nav .nav-item{
    padding: 0 20px;
}

.navbar-nav .nav-item .nav-link{
    color: #ff7700;
    text-decoration: none;
    transition: 0.3s;
    padding: 0 px;
}



.navbar-nav .nav-item .nav-link:hover{
    transform: scale(1.1);
}

.navbar-nav .dropdown-menu {
    background-color: #000;
}

.navbar-nav .dropdown-item{
    color: #ff7700;
    font-family: "Black Ops One", system-ui;
    transition: 0.3s;
}

.navbar-nav .dropdown-item:hover{
    text-decoration: underline;
}

.fa-user::before{
    margin-left: 26px;
}

/* Main */


.col-md-6 h5{
    color: #ff7700;
    font-family: "Black Ops One", system-ui;
}

.col-md-6 h1{
    font-family: "Black Ops One", system-ui;
    font-weight: 200;
    color: #000000;
}

.col-md-6 a {
    background-color: #ff7700;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

explore{
    background-color: #000;
}

explore h2{
    color: #ffffff;
}
explore .card{
    transition: 0.3s;
}

explore .card:hover{
    transform: scale(1.025);
    cursor: pointer;
}

explore .card-body h3{
    color: #ff7700;
}

explore .card-body a{
    background-color: #ff7700;
    border: none;
}

joinus{
    background-color: #ffffff;
}

joinus h2{
    color: #000000;
    font-family: "Black Ops One", system-ui;
}

joinus p{
    color: #000000;
}

joinus img{
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

joinus .card{
    background-color: #000000;
    padding: 13px;
    transition: 0.3s;
    margin: 20px;
}

joinus .card:hover{
    transform: scale(1.025);
    cursor: pointer;
}

joinus .card .card-title h4{
    color: #ffffff;
}

joinus .card p{
    color: #ffffff;
}

aboutus{
    background-color: #000;
}

aboutus h2{
    color: #ffffff;
    font-family:"Black Ops One", system-ui;
}

aboutus p{
    color: #ffffff;
}



/* Footeri */

footer{
    background-color: #000;
    height: 80px;
    border-top: 2px solid #ff7700;
}

footer p{
    text-align: center;

    color: #ff7700;
    font-weight: 400;
    font-family: "Black Ops One", system-ui;
}

footer brands{
    display: flex;
    justify-content: center;
    padding: 20px 0 5px 0;
}

footer brands i{
    padding: 0 10px;
    color: #ff7700;
    transition: 0.3s;
}

footer brands i:hover{
    transform: scale(1.1);
    cursor: pointer;
}
